prefix             = ""
application        = ""
environment        = ""
owner              = ""
location           = ""

vm_admin_password  = ""
vm_image_publisher = ""
vm_image_offer     = ""
vm_image_sku       = ""
vm_image_version   = ""
